.budget {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid var(--siteBorderColor);
    border-radius: 10px;
}

.new-budget-item {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr;
    border: 1px solid var(--siteBorderColor);
    height: 20px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 35px 0px 20px 0px;
}

.new-budget-item > * {
    margin: 0px 10px;
    border: 1px solid var(--siteFieldBorderColor);
    border-radius: 5px;
    text-indent: 5px;
}

.new-budget-item > *:hover {
    background-color: var(--hoverBGColor);
    cursor: pointer;
}
.new-amount {
    text-indent: 5px;
}

.income,
.expense {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.budget-item {
    width: 90%;
    margin: 10px 0px;
}

.budget-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.budget-item-category {
    border: none;
    background-color: white;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.budget-item-amount-budgeted {
    width: 50px;
    border: none;
}

.budget-item-category:hover,
.budget-item-amount-budgeted:hover {
    cursor: pointer;
    font-weight: bolder;
}

.outer-bar {
    border: 1px solid var(--siteBorderColor);
    background-color: var(--firstColor);
    position: relative;
    height: 20px;
    border-radius: 20px;
}

.inner-bar {
    border: 1px solid var(--siteBorderColor);
    position: absolute;
    height: 100%;
    border-radius: 20px;
}

.income .inner-bar {
    background-color: var(--secondColor);
}

.expense .inner-bar {
    background-color: var(--thirdColor);
}