.budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px 0px;
    border: 1px solid var(--siteBorderColor);
    border-radius: 10px;
}

.budget-item {
    width: 90%;
    margin: 10px 0px;
}

.budget-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.budget-item-category {
    border: none;
    background-color: white;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.budget-item-amount-budgeted {
    width: 50px;
    border: none;
}

.budget-item-category:hover,
.budget-item-amount-budgeted:hover {
    cursor: pointer;
    font-weight: bolder;
}

.outer-bar {
    border: 1px solid var(--siteBorderColor);
    background-color: var(--firstColor);
    position: relative;
    height: 20px;
    border-radius: 20px;
}

.inner-bar {
    border: 1px solid var(--siteBorderColor);
    background-color: var(--thirdColor);
    position: absolute;
    height: 100%;
    border-radius: 20px;
}