:root {
  --siteBorderColor: rgba(0, 0, 0, 0.1);
  --siteFontColor: rgba(0, 0, 0, 0.5);
  --firstColor: #ececec; 
  --secondColor: #9fd3c7;
  --thirdColor: #385170; 
  --fourthColor: #142d4c;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-size: 14px;
  color: var(--siteFontColor);
}