main {
    background-color: var(--siteBGColor);
    height: 1000px;
}

.registration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        ". header ."
        "validation validation validation"
        "username-label username username"
        "password1-label password1 password1"
        "password2-label password2 password2"
        "register-btn register-btn register-btn";
    width: 300px;
    border: 1px solid var(--siteBorderColor);
    border-radius: 10px;
    margin: 0px auto;
    padding: 20px;
    height: 300px;
    background-color: white;
}

.registration-header {
    grid-area: header;
    font-size: 20px;
    font-weight: bold;
}

.validation {
    grid-area: validation;
    border-bottom: 1px solid var(--siteBorderColor);
    margin-bottom: 20px;
}

.registration > * {
    margin-top: 10px;
}

.registration-username-label {
    grid-area: username-label;
}

.registration-username {
    grid-area: username;
}

.registration-password1-label {
    grid-area: password1-label;
}

.registration-password1 {
    grid-area: password1;
}

.registration-password2-label {
    grid-area: password2-label;
}

.registration-password2 {
    grid-area: password2;
}

.registration-username,
.registration-password1,
.registration-password2 {
    text-indent: 5px;
    border-radius: 5px;
}

.registration-username:hover,
.registration-password1:hover,
.registration-password2:hover {
    background-color: var(--firstColor);
    cursor: pointer;
}

.registration-btn {
    grid-area: register-btn;
    margin: 30px 0px 0px 25%;
    color: var(--siteFontColor);
    background-color: var(--thirdColor);
    border-radius: 5px;
    width: 120px;
    height: 30px;
    box-shadow: 5px 5px;
}

.registration-btn:hover {
    background-color: var(--secondColor);
    cursor: pointer;
}